services:
  app_proxy:
    environment:
      APP_HOST: retro-mike-mflex-node_web_1
      APP_PORT: 8080

  web:
    image: amir20/dozzle:v8.12.8@sha256:8ff3115c9c9dd7576839df6f2575de345ca7cafa398cf2496f1f19c31d862ac1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: on-failure
    depends_on:
      - node

  node:
    image: ghcr.io/aalnase/mflex-node:1.11.0rc1-mflex2
    restart: unless-stopped
    ports:
      - 7010:7010
      - 9010:9010
      - 24200:24200
    entrypoint:
      - multiflexd
      - -printtoconsole
      - -prune=550
      - -server
      - -rpcbind=0.0.0.0
      - -rpcport=9010
      - -rpcallowip=0.0.0.0/0
      - -rpcuser=pooluser
      - -rpcpassword=poolpassword
      - -zmqpubhashblock=tcp://0.0.0.0:7010
      - -zmqpubhashblockhwm=10000
      - -addresstype=legacy
      - -changetype=legacy
    volumes:
      - ${APP_DATA_DIR}/.multiflex:/root/.multiflex
      - /home/umbrel/.miningcore/wallet-backups:/backups

  wallet_autoload:
    image: curlimages/curl:8.6.0
    entrypoint: ["/bin/sh", "/wallet-autoload.sh"]
    restart: unless-stopped
    network_mode: service:node
    depends_on:
      - node
    volumes:
      - ./scripts/wallet-autoload.sh:/wallet-autoload.sh:ro
    environment:
      RPC_USER: pooluser
      RPC_PASSWORD: poolpassword
      RPC_PORT: "9010"
      WALLET_NAME: pool
