version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: retro-mike-mflex-node_web_1
      APP_PORT: 8080

  web:
    image: amir20/dozzle:v8.12.8@sha256:8ff3115c9c9dd7576839df6f2575de345ca7cafa398cf2496f1f19c31d862ac1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: on-failure
    depends_on:
      - node

  node:
    image: ghcr.io/aalnase/mflex-node:1.11.0rc1-mflex2
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ${APP_DATA_DIR}/.multiflex:/data
    ports:
      - 9010:9010    # RPC
      - 7010:7010    # ZMQ
      - 24200:24200  # P2P
