version: "3.7"

networks:
  umbrel_main_network:
    external: true

services:
  app_proxy:
    networks:
      - umbrel_main_network
    environment:
      APP_HOST: retro-mike-wallet-tools_web_1
      APP_PORT: 8080

  web:
    networks:
      - umbrel_main_network
    image: ghcr.io/aalnase/wallet-tools:0.1.0
    restart: on-failure
    environment:
      RPC_USER: pooluser
      RPC_PASS: poolpassword
      POOLS_DIR: /miningcore/pools.d
      BACKUPS_DIR: /backups
      MAX_UPLOAD_MB: "200"
    volumes:
      - /home/umbrel/.miningcore:/miningcore:ro
      - /home/umbrel/.miningcore/wallet-backups:/backups
